html,body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000;
  overflow: hidden;
  font-family: sans-serif;
}
canvas {
  display:block;
}
.ui {
  position: absolute;
  left: 12px;
  top: 12px;
  color: white;
  font-size: 13px;
  z-index: 10;
  user-select: none;
  pointer-events: none;
}
